.inputText {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  resize: none;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
}
.inputSubmit {
  text-align: right;
  margin-top: 5px;
}
.inputSubmit button {
  border-radius: 2px;
  background-color: #3b6ef0;
  height: 28px;
  width: 55px;
  border: none;
  color: #fff;
}
.inputSubmit button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.inputSubmit button:disabled {
  background-color: #717279;
  cursor: auto ;
  opacity: 1;
}