.user {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.user_logo {
    flex: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 7px;
}
.buttonFollow {
    margin: 0 auto;
    border: none;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    width: 80px;
    border: 1px solid #009c4e;
    border-radius: 5px;
    background: #00ca43;
}
.buttonUnfollow {
    margin: 0 auto;
    border: none;
    color: #000;
    font-size: 16px;
    padding: 5px 10px;
    width: 80px;
    border: 1px solid #9c0000;
    border-radius: 5px;
    background: #ff5353;
}
.buttonUnfollow:hover, .buttonFollow:hover {
    cursor: pointer;
    opacity: 0.7;
}
.user_info {
    flex: 1;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.city, .country {
    position: absolute;
    right: 10px;;
    margin: 0;
}
.city {
    top: 5px;
}
.country{
    top: 25px;
    font-weight: 600;
}
.status {
    font-style: italic;
    margin: 20px 0 0 0;
}
.active {
    background-color: #00FF7F;
}