  .image {
    width: 100%;
  }
  .user {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
  }
  .avatar {
    height: 150px;
  }
  .info {
    padding: 20px 0 0 20px;
  }
  .info h4, .info p {
    margin: 0;
  }
  .info span {
    font-weight: 600;
  }