  .image {
    width: 100%;
  }
  .user {
    position: relative;
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
  }
  .userAvatarAndFollow {
    display: flex;
    flex-direction: column;
  }
  .userUploadAvatar input{
    display: block;
    margin: 0 auto;
  }
  .bottom {
    width: 50px;
    margin: 10px auto;
  }
  .avatar {
    height: 150px;
    margin-bottom: 10px;
  }
  .info {
    padding-left: 20px;
  }
  .info h4 {
    font-size: 20px;
  }
  .info h4, .info p {
    margin: 0;
    word-wrap: break-word;
    width: 500px
  }
  .info span {
    font-weight: 600;
  }
  .social {
    margin-top: 10px;
  }
  .social a{
    font-size: 20px;
    margin: 0 5px;
  }
  .social a:hover {
    opacity: 0.6;
  }
  .statusEditOff span, .statusAllUsers span{
    display: block;
    font-weight: 300!important;
    font-style: italic;
  }
  .statusEditOff {
    height: 25px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin-bottom: 20px;
  }

  .statusEditOff:hover{
    background-color:rgba(243, 252, 255, 0.7);
    border: 1px solid rgb(0, 233, 233);
    cursor: pointer;
  }
  .statusEditOn {
    height: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
  }
  .statusEditOn input {
    width: 100%;
    border: none;
    border: 1px solid rgb(0, 233, 233);
  }
  .statusEditOn button {
    border: none;
    background: none;
  }
  .statusEditOn button:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  .statusAllUsers {
    height: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .popUpUploadAvatarContainer{
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .popUpUploadAvatar {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    top: 30%;
  }
  .hidden {
    display: none;
  }
  .editButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }