  .image {
    width: 100%;
  }
  .user {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
  }
  .avatar {
    height: 150px;
  }
  .info {
    padding-left: 20px;
  }
  .info h4 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .info h4, .info p {
    margin: 0;
  }
  .info span {
    font-weight: 600;
  }
  .social {
    margin-top: 10px;
  }
  .social a{
    font-size: 20px;
    margin: 0 5px;
  }
  .social a:hover {
    opacity: 0.6;
  }