.menu {
  grid-area: menu;
  background-color: #DAF2FA;
  list-style-type: none;
  margin:0px;
  padding: 0px;
}
.menu a {
  padding: 10px 20px 10px 20px;
  display: block;
}
.active {
  background-color: #cee4eb;
  font-weight: 600;
}