  .main {
    grid-area: main;
  }
  .image {
    width: 100%;
  }

  .user {
    display: flex;
    padding-top: 15px;
    padding-left: 20px;
  }
  .avatar {
    height: 150px;
  }
  .info {
    padding: 20px 0 0 20px;
  }
  .info h4, .info p {
    margin: 0;
  }
  .info span {
    font-weight: 600;
  }
  
  .side {
    padding-left: 20px;
  }
  .inputText {
    width: 100%;
    height: 50px;
    background-color: #F3FCFF;
  }
  .inputSubmit {
    height: 40px;
    border-radius: 10px;
    background-color: #2C3B81;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    float: right;
  }
  .allMessages{
    margin-top: 70px;
  }
  .messages {
    display: flex;
    margin-top: 20px;
  }
  .messages p {
    padding-left: 20px;
  }
  .avatar {
    height: 50px;
    border-radius: 30px; 
  }