.container {
    width: 500px;
    background-color: #fff;
    margin: 20px auto auto auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #B5B5B5;
}
.inputForm {
    display: flex;
    justify-content: end;
}
.inputName {
    flex: 1;
}
.inputField {
    flex: 1;
}
.error {
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid red;
    color: red;
}

.submitSucceeded {
    display: inline-block;
    padding: 0px 15px;
    border: 1px solid rgb(23, 255, 127);
    color: rgb(23, 255, 127);
}