a {
  color: #000;
  text-decoration: none;
  outline : none; 
}
li {
  list-style-type: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.SNsite {
  margin: 0 300px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  'header header '
  'menu main';
}
.slick-prev{
  z-index: 999;
  left: 2px;
}
.slick-next {
  z-index: 999;
  right: 2px;
}
